#hhp-container
{
	position: relative;
	width: 870px;
	height: 500px;
}

#sessions-container
{
	width: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #efcec5;
}

#sessions-add, .sessions-session, #sessions-all
{
	background-color: #efcec5;
	border: 1px solid #fff;
	padding: 2px;
}

#sessions-add, #sessions-all
{
	background-color: #ee9d87;
	border: 1px solid #fff;
	text-align: right;
}

#sessions-container a
{
	font-weight: bold;
	color: #fff;
}

#sessions-container a.delete { float: right; }

#sessions-container a:hover, .session-active
{
	font-weight: bold;
	color: #e85631 !important;
}

#plan-container
{
	width: 650px;
	position: absolute;
	top: 0px;
	left: 215px;
}

#plan-container-inner
{
	position: relative;
	height: 500px;
}

#content-container
{
	position: absolute;
	top: 0px;
	left: 00px;
	width: 370px;
	height: 500px;
}

#categories
{
	border: 0px;
	font-family: "lucida grande";
}

#categorytabs {margin-bottom: 5px; }

#categories li
{
	font-size: 11px;
	font-family: "lucida grande";
}

#fridge
{
	width: 270px;
	height: 500px;
	background-color: #FFF;
	background-image: url('/site_media/img/fridge.png');
	position: absolute;
	top: 0px;
	right: 0px;
}


.grabber
{
	display: block;
	width: 52px;
	height: 52px;
	cursor: move;
	border: 4px solid white;
}

.category-icon
{
	display: block;
	width: 52px;
	height: 52px;
	border: 4px solid white;
}

li.ui-corner-top {margin-left: 3px !important;}

.eat-smart { background-image: url('/site_media/img/icon_eatsmart.png'); }
.get-fit { background-image: url('/site_media/img/icon_getfit.png'); }
.look-sharp { background-image: url('/site_media/img/icon_looksharp.png'); }
.think-positive { background-image: url('/site_media/img/icon_thinkpositive.png'); }

.ui-draggable-dragging
{
	cursor: move;
	background-color: #f60;
	border: 4px solid orange;
	z-index: 9999;
}

/*.dropped { border: #f00 solid 1px; }*/
/*
.arrow
{
	display: block;
	width: 18px;
	height: 18px;
}

.open { background-image: url('/site_media/img/arrow-open.png'); }
.closed { background-image: url('/site_media/img/arrow-closed.png'); }
.disabled { color: #ccc; }
*/

.magnet-popup
{
	display: none;
	position: absolute;
	width: 250px;
	background-color: #ffc;
	padding: 5px;
	z-index: 1000;
	border: 1px solid gray;
	margin: 48px 0px 0px 140px;
	opacity: .9;
}

.magnet-popup-close, .magnet-trash
{
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
}

.magnet-popup-close { background: url("/site_media/img/icon_close.png") no-repeat; }
.magnet-trash { background: url("/site_media/img/icon_delete.png") no-repeat; }


#categories .label
{
	width: 230px;
}

.ui-state-disabled .label
{
	display: block;
	position: absolute;
	left: 56px;
	width: 230px;
	padding-left: 10px;
	padding-top: 16px;
	padding-right: 10px;
}

.grabber .label
{
	display: block;
	position: absolute;
	top: -4px;
	left: 56px;
	height: 40px;
	background-color: #fff;
	width: 50px;
	padding-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

}

