/* ***** Principal Elements ***** */
 
body
{
	min-width: 912px;
	margin: auto;
	padding: 0;
	border: 0;
	background: #efefef url('../img/bg_body.jpg') left top repeat-x; 
	font: normal 0.88em arial, helvetica, sans-serif;
	color: #000;
/*	background-color: #efefef; */
}

h1, h2, h3, h4, h5, h6
{
	margin: 0 0 0.7em 0;
	padding: 0;
	border: 0;
	font-family: 'trebuchet ms', verdana, sans-serif;
	font-weight: bold;
}

h1
{
	margin: 2em 0 0.7em 0;
	font-size: 180%;
	font-weight: normal;
}

h2
{
	margin: 1.6em 0 0.7em 0;
	font-size: 140%;
	font-weight: normal;
}

h3
{
	padding: 1.4em 0 0.7em 0;
	font-size: 110%;
	font-weight: bold;
}

h4
{
	padding: 1em 0 1em 0;
	margin: 0;
	font-size: 110%;
	font-style: italic;
}

h5
{
	margin: 1em 0 0.7em 0;
	font-size: 120%;
}

h6
{
	margin: 1em 0 0.7em 0;
	font-size: 110%;
}

p
{
	display: block;
	margin: 0 0 1em 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

blockquote
{
	display: block;
	margin: 0 2em 1em 2em;
	padding: 0;
	border: 0;
	font-size: 100%;
}

table
{
	margin: 0 0 1em 0;
	padding: 0;
	border: 1px solid #ccc;
	border-collapse: collapse;
	font-size: 100%;
}

table tbody
{
	border: 0;
}

th
{
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 5px;
}

td
{
	border: 1px solid #999;
	border-collapse: collapse;
	padding: 5px;
}

ol, ul
{
	display: block;
	margin: 0 0 1em 3em;
	padding: 0 0 1em 0;
	border: 0;
	font-size: 100%;
}

.cascadeloweralpha ol li,
.loweralpha
{
	list-style-type:lower-alpha;
}

.cascadeupperalpha ol li,
.upperalpha
{
	list-style-type:upper-alpha;
}

.cascadecircle ul li,
.circle
{
	list-style-type:circle;
}

cascadesquare li,
.square
{
	list-style-type:square;
}

li
{
	margin: 0 0 0.5em 0;
}

a
{
	color: #c60;
	text-decoration: none;
}

a:hover
{
	color: #c00 !important;
	text-decoration: none;
}

a:active
{
	color: #c00;
	text-decoration: none;
}

a:visited
{
	color: #c60;
	text-decoration: none;
}

/* ***** Principal Blocks ***** */

#pagecontainer
{
	min-width: 912px;
	width: 912px;
	margin: auto;
	padding: 0;
	border: 0;
	background-color: #fff;
}

/* --- Header elements --- */

#header
{
	min-width: 912px;
	width: 912px;
	height: 112px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_header.jpg') left top no-repeat; 
}

#header h1, #header h1 a
{
	display: block;
	float: left;
	width: 292px;
	height: 79px;
	overflow: hidden;
	margin: 28px 0 0 18px;
	padding: 0;
	border: 0;
	background: url('../img/logo.jpg') left top no-repeat;
}

#header h4, #header h4 a
{
	display: block;
	clear: right;
	float: right;
	width: 145px;
	height: 33px;
	overflow: hidden;
	margin: 0 18px 0 0;
	padding: 0;
	border: 0;
	background: url('../img/logo_ccnmtl.gif') right top no-repeat;
}


#header h1 a, #header h4 a
{
	float: none;
	margin: 0;
}

#header h1 span, #header h4 span
{
	display: none;
}

/* --- Standard navigation --- */

#standard_navigation
{
	display: block;
	float: right;
	overflow: hidden;
	margin: 0 18px 30px 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	line-height: 21px;
	list-style: none;
}

#standard_navigation li
{
	float: left;
	margin: 0;
	padding: 0 0 0 15px;
	border: 0;
	list-style: 0;
}

#standard_navigation a
{
	color: #fff;
}

#standard_navigation a:hover
{
	color: #fc6 !important;
}

/* --- Primary navigation --- */

#primary_navigation
{
	min-width: 912px;
	width: 912px;
	height: 31px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_primary_navigation.jpg') left top no-repeat; 
}

#primary_navigation ul.globalnav
{
	display: block;
	float: left;
	overflow: hidden;
	margin: 0 0 0 6px;
	padding: 0;
	border: 0;
	list-style: none;
}

#primary_navigation ul.globalnav li
{
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	font: normal 14px/31px "trebuchet ms", verdana, arial, helvetica, sans-serif;
	text-transform: uppercase;
	color: #c00;
	list-style: 0;
	background: url('../img/nav_divider.jpg') right bottom no-repeat;
}

#primary_navigation ul.globalnav li a
{
	display: block !important;
	padding: 0 10px 0 8px;
	color: #c00 !important;
	text-decoration: none !important;
}

#primary_navigation ul.globalnav li a:hover
{
	color: #600 !important;
	text-decoration: none !important;
}

#primary_navigation ul.globalnav li.active
{
	background: url('../img/nav_divider.jpg') left bottom repeat-x; 
}

#primary_navigation ul.usernav
{
	display: block;
	float: right;
	overflow: hidden;
	margin: 0 6px 0 0;
	padding: 0;
	border: 0;
	list-style: none;
}

#primary_navigation ul.usernav li
{
	float: left;
	margin: 0;
	padding: 0 16px 0 10px;
	border: 0;
	font: normal 14px/31px "trebuchet ms", verdana, arial, helvetica, sans-serif;
	color: #c00;
	list-style: 0;
	text-decoration: none !important;
}

#primary_navigation ul.usernav li a
{
	display: block !important;
	color: #c00 !important;
	text-decoration: none !important;
}

#primary_navigation ul.usernav li a:hover,
#primary_navigation ul.usernav li#logout a:hover
{
	color: #600 !important;
	text-decoration: none !important;
}

#primary_navigation ul.usernav li#logout
{
	padding: 0;
	background: url('../img/icon_padlock.gif') left bottom no-repeat;
}

#primary_navigation ul.usernav li#logout a
{
	display: block !important;
	padding: 0 15px 0 20px;
	color: #c00 !important;
	text-decoration: none !important;
}

/* --- Pagebody, contains secodary nav and content --- */

#pagebody
{
	min-width: 912px;
	width: 912px;
	margin: 0;
	padding: 0;
	background: url('../img/bg_pagebody.jpg') left top repeat-y; 
}

/* --- Secondary navigation --- */

#secondary_navigation
{
	display: block;
	float: left;
	width: 201px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_secondary_navigation.gif') right top repeat-y; 
}

#secondary_navigation #fadetop
{
	display: block;
	width: 201px;
	height: 30px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_fade_top.gif') right top no-repeat; 
}

#secondary_navigation #fadebottom
{
	display: block;
	width: 201px;
	height: 30px;
	margin: 0;
	padding: 0;
	border: 0;
	background: url('../img/bg_fade_bottom.gif') right top no-repeat; 
}

#secondary_navigation .block
{
	display: block;
	width: 180px;
	margin: 0 0 20px 20px;
	padding: 0;
	border: 0;
	font-size: 0.95em;
}

#secondary_navigation .block h3
{
	display: block;
	width: 165px;
	margin: 0 0 10px 0;
	padding: 0;
	border: 0;
	border-bottom: 1px dotted #faba42;
	color: #c00;
	font-weight: bold;
}

#secondary_navigation .block ul
{
	display: block;
	width: 171px;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;	
}

#secondary_navigation .block ul li
{
	margin: 0 0 2px 0;
	padding: 0;
	border: 0;
	padding-left: 13px;
	background: url('../img/bullet.gif') left 4px no-repeat;
}

#secondary_navigation .block ul ul
{
	display: block;
	width: 151px;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	list-style: none;	
}

#secondary_navigation .block ul ul li
{
	margin: 0 0 2px 0;
	padding: 0;
	border: 0;
	padding-left: 13px;
	background: url('../img/bullet_diamond.gif') left 4px no-repeat;
}

#secondary_navigation .block ul ul ul
{
	display: block;
	width: 130px;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
	list-style: none;	
}

#secondary_navigation .block ul ul ul li
{
	margin: 0 0 2px 0;
	padding: 0;
	border: 0;
	padding-left: 13px;
	background: url('../img/bullet_diamond_hollow.gif') left 4px no-repeat;
}

/* ***** Content ***** */

#content
{
	display: block;
	float: left;
	width: 670px;
	margin: 20px 15px 0 20px;
	padding: 0;
	border: 0;

}

.content_one_column
{
	display: block;
	float: none;
	width: 860px !important;
	margin: 20px 25px !important;
	padding: 0;
	border: 0 !important;
}

#content h1
{
	margin: 0 0 0.5em 0;
	padding: 0;
	border: 0;
	font: normal 28px "trebuchet ms", verdana, arial, sans-serif;
	color: #c00;
}

#content h2
{
	margin: 1em 0 0.5em 0;
	padding: 0;
	border: 0;
	font: normal 20px "trebuchet ms", verdana, arial, sans-serif;
	color: #c00;
}

#content h3
{
	margin: 1em 0 0.5em 0;
	padding: 0;
	border: 0;
	font: normal 20px "trebuchet ms", verdana, arial, sans-serif;
	color: #c00;
}

#content p
{
	line-height: 140%;
}

#content .content-nav
{
	height: 1.5em;
	margin: 2em 0 0 0;
	padding: 0.5em 0;
	border: 0;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

#content .content-nav a#previous
{
	display: block;
	float: left;
	width: auto;
	line-height: 1.5em;
}

#content .content-nav a#next
{
	display: block;
	float: right;
	width: auto;
	line-height: 1.5em;
	text-align: right;
}

/* Login page */

.loginbox
{
	float: right;
	width: 280px;
	margin: 0 10px;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_middle.gif') repeat-y top;
}

.loginbox .boxtop
{
	width: 280px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_top.gif') no-repeat top;
}

.loginbox .boxbottom
{
	width: 280px;
	height: 16px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fff url('../img/bg_login_bottom.gif') no-repeat bottom;
}

.loginbox h2
{
	margin: 0 0 10px 10px !important;
	padding: 0 !important;
	border: 0 !important;
	font: bold 16px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;
}

.loginbox h3
{
	margin: 0 0 10px 10px !important;
	padding: 0 !important;
	border: 0 !important;
	font: bold 1em Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;
}

.loginbox .alert
{
	margin: 0 0 10px 10px !important;
	padding: 0 !important;
	border: 0 !important;
	font: bold italic 1em Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif !important;
	color: #c00;
}

.loginbox .alert a
{
	text-decoration: underline;
}

.loginbox hr
{
	height: 1px;
	margin: 15px 0;
	padding: 0;
	border: 0;
	background-color: #999;
	color: #999;
}

.loginbox form
{
	margin: 0;
	padding: 0;
	border: 0;
}

.loginbox input.regButton
{
	margin: 0 0 0 10px;
	padding: 1px;
	background-color: #e0e0e0;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	border-right: 2px solid #666;
	border-bottom: 2px solid #666;
	font: normal 1em Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	cursor: pointer;
}

.loginbox input.regButton:active
{
	background-color: #ccc;
	border-top: 2px solid #666;
	border-left: 2px solid #666;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.loginbox input#id_password,
.loginbox input#id_username
{
	width: 170px;
	margin: 0;
	padding: 2px;
	border: 1px solid #999;
	background-color: white;
	font: normal 12px Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
	vertical-align: middle;
}

.loginbox table
{
	margin: 0 10px;
	padding: 0;
	border: 0;
}

.loginbox table td
{
	margin: 0;
	padding: 3px 2px 3px 0;
	border: 0;
}

.loginbox table td a
{
	font-size: 11px;
	color: #069;
	text-decoration: underline;
}

/* Case quizzes */

.cases
{
	margin: 1em 0;
	padding: 0;
	border: 1px solid #999;
}

.casetitle
{
	background-color: #f2e6d8;
	margin: 0;
	padding: 5px 10px;
	border: 0;
	font-weight: bold;
}

.casecontent
{
	margin: 10px;
	padding: 0;
	border: 0;
}

.casequestion
{
	margin: 0;
	padding: 0;
	border: 0;
}

.cases li
{
	margin: 2px 0;
}

.casesanswerdisplay
{
	margin: 0;
	padding: 5px;
	border: 1px solid #999;
	line-height: 18px;
}

.moretoggle
{
	font-weight: bold;
}

.pullquote
{
	display: block;
	width: 240px;
	float: right;
	margin: 3px 0 3px 3px;
	padding: 5px;
	border: 1px solid #999;
	background-color: #f2e6d8;
}

table td.noborder
{
	border-bottom: 0;
}

table th.tabletitle
{
	margin: 0;
	padding: 5px 3px;
	font-size: 1.1em;
	color: #000;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	background-color: #caddf0;
}

.dropdownmenu
{
	margin: 0 0 0 5px;
	padding: 2px;
	border: 0;
	border-bottom: 1px solid #999;
	background-color: #e0e0e0;
	color: #000;
	font: normal 1em arial, helvetica, sans-serif;
}

.surveyform
{
	margin: 20px 20px 0 20px;
	padding: 20px;
	border: 1px solid #ccc;
	line-height: 140%;
}

#programfield
{
	float: left;
	margin: 0 50px 0 0;
	padding: 0;
	border: 0;
}

#yearfield
{
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	border: 0;
}

#experiencefield
{
	clear: both;
	margin: 0;
	padding: 14px 0 0 0;
	border: 0;
}

.figurenotes
{
	font-size: 11px;
	line-height: 150%;
}

body#introduction a#introduction,
body#sensespec a#sensespec,
body#signiftest a#signiftest,
body#subsensespec1 a#subsensespec1,
body#subsensespec2 a#subsensespec2,
body#subsensespec3 a#subsensespec3,
body#subsensespec4 a#subsensespec4,
body#subsensespec5 a#subsensespec5,
body#subsigniftest1 a#subsigniftest1,
body#subsigniftest2 a#subsigniftest2,
body#subsigniftest3 a#subsigniftest3,
body#subsigniftest4 a#subsigniftest4,
body#subsigniftest5 a#subsigniftest5,
body#moresubsigniftest1 a#moresubsigniftest1,
body#moresubsigniftest2 a#moresubsigniftest2,
body#moresubsigniftest3 a#moresubsigniftest3,
body#evaluation a#evaluation,
body#current a#current,
body#glossary a#glossary,
body#bibliography a#bibliography,
body#poctools a#poctools
{
	color: #000;
	font-weight: bold;
}

.flashanimation
{
	margin: auto;
	border: 1px solid #999;
}

#getFlash
{
	margin: 20px auto;
	padding: 0;
	border: 0;
	display: block;
	height: 120px;
	width: 400px;
	background: url('../img/flashicon.jpg') top left no-repeat;
}

#getFlash h3
{
	margin: 0 0 0 0;
	padding: 0 0 0 115px;
	border: 0;
	font-weight: normal;
	font-size: 1.45em;
	color: #666;
}

#getFlash p
{
	margin: 0;
	padding: 10px 0 0 115px;
	border: 0;
}

#visualclear
{
	display: block;
	clear: both;
	height: 2px;
}


/* ***** Lab Tests ***** */

.labtests
{
	border: 0;
	border-top: 3px solid #999;
	border-bottom: 3px solid #999;
}

.labtests th
{
	margin: 0;
	padding: 5px 15px;
	border: 0;
	border-bottom: 1px dotted #999;
}

.labtests td
{
	margin: 0;
	padding: 5px 15px;
	border: 0;
	border-bottom: 1px dotted #999;
}

.labtests .grey
{
	background-color: #efefef;
}

.actionplan
{
	margin: 0;
	padding: 0 0 1em 0;
	border: 0;
	list-style: none;
}

/* ***** Footer ***** */

#footer
{
	min-width: 912px;
	width: 912px;
	height: 40px;
	margin: 0;
	padding: 0;
	border: 0;

	background: url('../img/bg_footer.jpg') left top no-repeat; 
}

.block-edit {
    border: #999 solid 1px;
    margin: 1em;
}

textarea {width: 100%;}


/* ***** Progress bar for case labs ***** */

.caselab_progressbox
{
	height: 42px;
	margin: -20px 0 0 0;
	padding: 0;
	border: 0;
    background: transparent url("../img/progress_bkend_right.gif") right 16px no-repeat;
	float: right;
}

.caselab_progressbox_inner
{
	height: 42px;
	margin: 0;
	padding: 0;
	border: 0;
    background: url("../img/progress_bkend_left.gif") left 16px no-repeat;
}

.caselab_progressbox li
{
	color: #999 !important;
    font-size: 12px;
	font-weight: bold;
}

.progress_section
{
	float: left;
	height: 17px;
	margin: 0 10px;
	padding: 0;
	border: 0;
    list-style: none;
}

.progress_section li
{
	float: left;
	line-height: 17px;
	margin: 0 0.5em;
	padding: 0 0 4px 0;
	border: 0;
    list-style: none;
}

.progress_section li.active
{
    background: transparent url("../img/progress_indicator.gif") center 16px no-repeat;
	color: #000 !important;
}

.progress_section li.completed
{
	color: #ff9933 !important;
}

.progress_exercise
{
	float: left;
	height: 15px;
	margin: 8px 10px 0 10px;
	padding: 0;
	border: 0;
    list-style: none;
     clear: both;
}

.progress_exercise li
{
	float: left;
	line-height: 15px;
	margin: 0 0.5em;
	padding: 0;
	border: 0;
    list-style: none;
}

.progress_exercise li.active
{
	color: #000 !important;
}

.progress_exercise li.completed
{
	color: #ff9933 !important;
}

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 /*margin-top:1em;*/
 margin: 0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
        font-family: arial, helvetica, verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}
        
ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}
 
ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }
        
ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}
ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

.tabberlive .tabbertab {
 margin: 0;
 padding:0;
 border: 0;
}

.dragging { background-color: #fed;}

.hs-hide {display: none;}
.hs-show {display: block;}

.yours {color: green;}
.expert {color: orange;}

.incorrect { border-bottom: #f00 solid 2px;}
.correctanswer {border-bottom: #090 solid 1px;}

.incorrectanswer {text-decoration: line-through;color: #f00; }
.answer-inner {color: #000;}
