{% extends "base.html" %}

{% block content %}

{% if form.has_errors %}

<p>Your username and password didn't match. Please try again.</p>

{% endif %}

<fieldset class="login" id="logincu">

<legend>Columbia Users</legend>

<form method="get" action="{{ wind_base }}login">

<input type="hidden" name="service" value="{{ wind_service }}" />
<input type="hidden" name="destination" value="http://{{ request.get_host }}/accounts/windlogin/?next={{ next }}" />

<p>If you have a Columbia UNI, you already have an account and can login through WIND with it.</p>

<input type="submit" value="WIND Access" />

</form>

</fieldset>

<fieldset class="login" id="loginother">

<legend>Other Users</legend>

<form method="post" action=".">

<label for="id_username">Username:</label> 
<br />
{{ form.username }}
<br />
<br />
<label for="id_password">Password:</label><br />{{ form.password }}
<br />
<br />
<input type="submit" value="Log In" />

<input type="hidden" name="next" value="{{ next }}" />

</form>

</fieldset>

{% endblock %}
