{% extends 'base.html' %}

{% load hhphelpers %}

{% block js %}

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="/site_media/css/healthhabitplan.css" type="text/css" media="all" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.1.js" type="text/javascript"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script> 

<script src="/site_media/js/healthhabitplan-shared.js" type="text/javascript"></script>

<script type="text/javascript">

function hideMagnets(session) {
  jQuery("." + session + "-magnet").css('visibility', 'hidden');
}
function showMagnets(session) {
  jQuery("." + session + "-magnet").css('visibility', 'visible');
}

jQuery(document).ready(function(){
  jQuery(".session-box").click(function() {
    if(jQuery(this)[0].checked) {
      showMagnets(jQuery(this).val());
    }
    else {
      hideMagnets(jQuery(this).val());
    }
  });
});

</script>

{% endblock %}

{% block content %}

<div id="sessions-menu">

	<div id="sessions-add">
	<a title="create new session" href="{% url health-habit-plan-new-session %}">Add a Session</a>
	</div>
	
	{% for s in sessions %}
	<div class="sessions-session">
	{% ifequal s.id session.id %}
	<span class="session-active">Session {{s.number}}</span>
		<a class="delete" title="Delete" href="{% url health-habit-plan-del-session s.id %}">X</a>
	{% else %}
	<a href="{% url health-habit-plan-session s.id %}">Session {{s.number}}</a>
	<a class="delete" title="Delete" href="{% url health-habit-plan-del-session s.id %}">X</a>
	{% endifequal %}
	</div>
	{% endfor %}
	
	<div id="sessions-all">
	  <a title="view all sessions" href="{% url health-habit-plan-all-sessions %}">Review All Sessions</a>
	</div>
	
	
</div>

<div id="hhp-container">

	<div id="magnetwrapper">
     {% for session in sessions %}
	    <label><input type="checkbox" value="session-{{session.number}}" checked class="session-box" /> Session {{session.number}} Magnets</label>
	  {% endfor %}
   </div>

	<div id="fridge">
	{% for session in sessions %}
	
	  {% if session.magnet_set.count %}
	  {% for magnet in session.magnet_set.all %}
	
  	  <div id="session-{{session.number}}-item-{{magnet.item.id}}-magnet" class="session-{{session.number}}-magnet magnet grabber {{magnet.item.category.css}}"></div>
	  <div id="session-{{session.number}}-item-{{magnet.item.id}}-popup" class="magnet-popup">
	    <div class="magnet-popup-close"></div>
	    <strong>{{magnet.item.category}}</strong>
	    <br />
	    <br />
	    I can beat diabetes by<br />
	    <span style="text-transform: lowercase; font-weight: bold;">{{magnet.item.label}}</span>
	  </div>
	  
	  {% endfor %}
	  {% endif %}
	{% endfor %}

	</div>
	
	<script type="text/javascript">
	jQuery(function() {
	{% for session in sessions %}
	  {% for magnet in session.magnet_set.all %}    
	    positionMagnet(jQuery("#session-{{session.number}}-item-{{magnet.item.id}}-magnet"),{{magnet.x}},{{magnet.y}});
	  {% endfor %}
	{% endfor %}
	});

	</script>
</div>

{% endblock %}
