{% extends 'base.html' %}
{% load hhphelpers %}

{% block js %}

<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css"
      type="text/css" media="all" /> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>

<script src="http://jquery-ui.googlecode.com/svn/tags/latest/external/jquery.bgiframe-2.1.1.js" type="text/javascript"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/i18n/jquery-ui-i18n.min.js" type="text/javascript"></script> 

<style type="text/css">

.grabber {
display: block;
width: 20px;
height: 20px;
border: #000 solid 3px;
background-color: #fcc;
}

#categories {
  float: left;
  width: 300px;
}

.category-icon {
  display: block;
  border: #000 solid 3px;
  width: 20px;
  height: 20px;
}

.eat-smart {
background-color: #f00;
}
.get-fit {
background-color: #0f0;
}
.look-sharp {
background-color: #00f;
}

#fridge {
  display: block;
  width: 300px;
  height: 600px;
  float: right;
  background-color: #fff;
  border: #000 solid 1px;
}

.ui-draggable-dragging {
  border: #f60 solid 3px;
}
.dropped {
border: #f00 solid 1px;
}
.arrow {
display: block;
width: 10px;
height: 10px;
}

.open {
background-color: green;
}

.closed {
background-color: red;
}

</style>

<script type="text/javascript">
var magnets = new Array();

var positionMagnet = function(magnet,x,y) {
   var fridgeOffset = jQuery("#fridge").offset();
   fridgeOffset.left = fridgeOffset.left + x;
   fridgeOffset.top  = fridgeOffset.top + y;
   magnet.offset(fridgeOffset);
}

var saveMagnetPosition = function(id,x,y) {
   var req = new XMLHttpRequest();
   var url = "{% url health-habit-plan-save-magnet session.id %}?item_id=" + id + ";x=" + x + ";y=" + y;
   req.open("POST",url,true);
   req.send(null);
}
</script>

{% endblock %}

{% block content %}

<h1>Health Habit Plan Exercise: Session {{session.number}}</h1>

<div id="hhp-container">

<table id="categories">
{% for category in categories %}
<tr class="category">
<td><span class="arrow closed"></span></td>
<td><span class="category-icon {{category.css}}"></span></td>
<th>{{category.label}}</a></th>
</tr>
    {% for item in category.item_set.all %}
<tr class="item">
<td></td>
<td>
{% if_magnet_for_item_exists session item %}
<!-- I guess a placeholder should go here -->
{% else %}
<div id="item-{{item.id}}-grabber" class="grabber {{item.category.css}}"></div>
{% endif_magnet_for_item_exists %}
</td>
<td><p>{{item.label}}</p></td>
</tr>
    {% endfor %}
{% endfor %}
</table>

<div id="fridge">

</div>

{% if session.magnet_set.count %}
{% for magnet in session.magnet_set.all %}
<div id="item-{{magnet.item.id}}-magnet" class="magnet grabber {{magnet.item.category.css}}"></div>
{% endfor %}

<script type="text/javascript">
jQuery(function() {
{% for magnet in session.magnet_set.all %}    
    positionMagnet(jQuery("#item-{{magnet.item.id}}-magnet"),{{magnet.x}},{{magnet.y}});
{% endfor %}
});
</script>

{% endif %}

<br style="clear:both"/>

<p id="debugprint"></p>

</div>


<script type="text/javascript">

jQuery(document).ready(function(){
	jQuery('.category').click(function() {
		jQuery(this).nextUntil("tr.category").toggle();
                jQuery(this).find(".arrow").toggleClass("open");
                jQuery(this).find(".arrow").toggleClass("closed"); 
		return false;
	}).nextUntil("tr.category").hide();
});

jQuery(function() {
   jQuery(".grabber").draggable({
        revert: 'invalid'
        ,start: function(event, ui) {
           /* going to want to do some stuff here */
        }
        ,stop: function(event, ui) {
          var fridgeOffset = jQuery("#fridge").offset();
          var offset = jQuery(this).offset();
          var store_x = offset.left - fridgeOffset.left;
          var store_y = offset.top - fridgeOffset.top;
          saveMagnetPosition(jQuery(this).attr("id").split("-")[1],store_x,store_y);
        }
   });

   jQuery("#fridge").droppable({
	drop: function(event, ui) {
          jQuery(this).addClass('dropped');
	}
   }); 
});



</script>

{% endblock %}
