{% extends "base.html" %}

{% block content %}

{% if form.has_errors %}

<p>Your username and password didn't match. Please try again.</p>

{% endif %}



<div style="float: right; margin: 0px -150px 0px 30px;">

	<fieldset class="login">
	
	<legend>Columbia Users</legend>
	
	
	<p>
	Columbia faculty and students must log in here.
	</p>
	
	<form method="get" action="{{ CAS_BASE }}cas/login">
	
	<input type="hidden" name="destination" value="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}/accounts/caslogin/?next={{ next }}" />
	
	<input type="submit" value="Log In With Columbia UNI" />
	
	</form>
	
	</fieldset>
	
	
	
	<fieldset class="login">
	
	<legend>Non-Columbia Users</legend>
	
	<p>
	Non-Columbia users must log in with assigned user names and passwords here.
	</p>
	
	
	<form method="post" action=".">
	
	<label for="id_username">User Name:</label> 
	<br />
	{{ form.username }}
	<br />
	<br />
	<label for="id_password">Password:</label><br />{{ form.password }}
	<br />
	<br />
	<input type="submit" value="Log In" />
	
	<input type="hidden" name="next" value="{{ next }}" />
	
	</form>
	
	</fieldset>

</div>

<h2>Welcome to diaBeaters!</h2>


<p>
Welcome to diaBeaters! diaBeaters! is an online intervention created for social work graduate students and practitioners to use with families living with Type 2 Diabetes Mellitus (T2DM) in a child family member. 
</p>

<p>
Type 2 Diabetes, already a major health problem among adults, is the fastest growing pediatric epidemic of our decade. diaBeaters! provides a multi-stepped, online, interactive intervention for social work practitioners to guide parents and family caregivers to make optimal nutrition and fitness choices for their families and to teach their children appropriate health habits.
</p>


<p>
For additional information about this project, please contact CCNMTL at <a href="mailto:ccnmtl-diabeaters@columbia.edu">ccnmtl-diabeaters@columbia.edu</a>.
</p>






{% endblock %}
